<% if farmer_signed_in? %>
  <li>signed in as <%= current_farmer.email %> |
  <%= link_to 'my farm', masteries_path %> |
  <%= link_to 'account settings', edit_farmer_registration_path %>
  </li>
<% else %>
  <li>
  <%= link_to 'sign up', new_farmer_registration_path  %>
  </li>
<% end %>
