<hr />
Welcome to your farm, affectionately known as
<h3><%= @farm.name %></h3>
<hr />
<b>plots:</b> <%= @farm.plots %>
<br />
<b>harvests per day:</b> <%= @farm.harvests_per_day %>
<p /><p />
<h3>crop listing</h3>
<ul>
	<li>carrots:  17</li>
	<li>beans:  150</li>
	<li>nachos:  170</li>
		
		</ul>


